# PyCity Schools Analysis:

In [127]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset.  
school_data_complete.df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [128]:
#Total number of unique schools
school_count=len(school_data_complete.df["school_name"].unique())

school_count

15

In [129]:
#Total Students
student_count= len(school_data_complete.df["student_name"])

student_count

39170

In [130]:
#Calculate the total budget
total_budget= (school_data_complete.df["budget"].unique()).sum()
total_budget

24649428

In [131]:
#calculate the average (mean) math score
average_math_score= school_data_complete.df["math_score"].mean()
average_math_score

78.98537145774827

In [132]:
#calculate the average (mean) reading score
average_reading_score= school_data_complete.df["reading_score"].mean()
average_reading_score

81.87784018381414

In [137]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete.df[(school_data_complete.df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

passing_math_percentage

74.9808526933878

In [138]:
# Use the following to calculate the percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete.df[(school_data_complete.df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_reading_percentage

85.80546336482001

In [139]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete.df[
    (school_data_complete.df["math_score"] >= 70) & (school_data_complete.df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [136]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax (1269324205.py, line 2)

# School Summary

In [85]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [87]:
#calculate the total student count
per_school_counts= school_data_complete.df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [89]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [96]:
# Calculate the average test scores
per_school_math= school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_math
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [120]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete.df[(school_data_complete.df["math_score"] >= 70)].count()["school_name"]
school_passing_math

29370

In [121]:
school_passing_reading= school_data_complete.df[(school_data_complete.df["reading_score"] >= 70)].count()["school_name"]
school_passing_reading

33610

In [140]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].count["school_name"]
passing_math_and_reading

TypeError: 'method' object is not subscriptable